body {
  width: 1920px;
  height: 1080px;
  font-family: Roboto;
  background-color: #000000;
  font-size: 16px;
  color: #fff;
}
/* 
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } */

/* navbar 활성화 시 컨텐츠 옆으로 */
.margin-add {
  margin-left: 240px;
}

/* 채널 상단 */
.channel-cover {
  display: block;
  width: 1920px;
  height: 192px;
  object-fit: cover;
}

/* .channel-cover-margin {
  display: none;
  width: 1680px;
  height: 192px;
  object-fit: cover;
} */

.channel-title {
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #212121;
  color: #aaa;
}

/* 구독 정보 */

.channel-avatar {
  margin: 16px 24px 4px 65px;
  border-radius: 50px;
  justify-content: flex-start;
}

.channel-title-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.channel-title-name {
  font-size: 24px;
  color: #ffffff;
  margin-left: 24px;
}

.channel-title-subscribers {
  font-size: 14px;
  color: #aaaaaa;
  margin-left: 24px;
}

.subscribes-btn {
  width: 116px;
  height: 36px;
  background-color: #cc0000;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  font-weight: 700;
  line-height: normal;
  margin-left: auto;
  margin-right: 65px;
}

/* 구독중 버튼 전환 임시코드 */

/* .subscribes-btn.clicked {
    width: 116px;
    height: 36px;
    background-color: #aaaaaa;
    color: #ffffff;
    border: 0;
    border-radius: 2px;
    font-weight: 700;
    line-height: normal;
  } */

/* 툴바 */

.channel-toolbar {
  background-color: #212121;
  width: auto;
  height: 48px;
  display: flex;
  padding-left: 65px;
}

.toolbar-btn {
  border: 0;
  background-color: #212121;
  color: #aaa;
}

.toolbar-btn:hover {
  border: 0;
  background-color: #aaa;
  color: #fff;
}

#channel-toolbar-home {
  width: 104px;
  height: 47px;
}

#channel-toolbar-videos {
  width: 113px;
  height: 47px;
}

#channel-toolbar-playlists {
  width: 136px;
  height: 47px;
}

#channel-toolbar-community {
  width: 148px;
  height: 47px;
}

#channel-toolbar-channels {
  width: 137px;
  height: 47px;
}

#channel-toolbar-about {
  width: 110px;
  height: 47px;
}

#channel-toolbar-search {
  width: 322px;
  height: 48px;
  border: 0;
  background-color: #212121;
  color: #aaaaaa;
}

#channel-toolbar-search:hover {
  background-color: #aaaaaa;
  color: #212121;
}

/* 큰 영상 */

.youtube-player {
  width: 800px;
  height: 286px;
  margin: 24px 0px 24px 0px;
  padding-left: 65px;
  /* padding-bottom: 16px; */
  display: flex;
  justify-content: center;
}

.youtube-player-info {
  flex-direction: column;
  margin: 16px 0px 24px 0px;
  width: 400px;
  height: 238px;
}

.youtube-player-title {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 20px;
  /* word-break: break-word; */
}

.youtube-player-views {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #aaa;
  padding-bottom: 19px;
}

.youtube-player-desc {
  display: block;
  font-size: 14px;
  word-break: break-word;
}

/* 구분선 */

.division-line {
  width: 1070px;
  border-top: 1px solid #303030;
  padding-left: 65px;
}

/* 작은 영상 */

.play-btn {
  width: 1070px;
  height: 44px;
  padding-left: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.play-info {
  font-size: 16px;
  font-weight: 700;
}

.play-arrow-btn {
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.play-all {
  font-size: 16px;
  font-weight: 700;
  color: #aaa;
}

.play-list {
  width: 1200px;
  height: 288px;
  display: flex;
  margin: 16px 0px 24px 0px;
  padding-left: 65px;
  padding-bottom: 24px;
}

.Video-image1.Video-image2.Video-image3.Video-image4.Video-image5 {
  width: 210px;
  height: 118px;
}

.video-title {
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 8px;
}

.video-uploader {
  display: block;
  font-size: 12px;
  color: #aaa;
}

.video-views {
  display: block;
  font-size: 12px;
  color: #aaa;
}
