/* ------ modify-hamguger ------ */
.hambuger-btn {
    cursor: pointer;
    background-color: #212121;
    border: none;
    background: none;
  }
  
  .hamburger-img {
    width: 30px;
    height: 30px;
  }
  
  .hambuger-btn:hover {
    background: rgba(253, 249, 249, 0.493);
    border-radius: 50%;
  }
  
  
  body {
    font-family: Roboto;
    background-color: #212121;
    font-size: 16px;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ---------header------------- */
  .header {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    height: 56px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #212121;
  }
  
  .header_lhamburger_logo,
  .header_search-box,
  .header_user-api {
  display: flex;
  align-items: center;
  background-color: #212121;
  }
  
  .header_logo img {
    margin-left:5px;
  }
  
  .header_logo svg {
    height: 24px;
  }
  
  
  .header_search-box button{
    border: 1px solid #303030;
    background-color: #212121;
    border-left: none;
    height: 36px;
    width: 50px;
  }
  
  .header_search-box #search-icon {
    width: 32px; 
    height: 32px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .header_search-box input {
    width: 360px;
    height: 32px;
    border: 1px solid #303030;
    background-color: #FFFFFF;
    font-size: 16px;
    padding: 3px 8px;
    border-radius: 50px;
  
  }
  
  .header_search-box input::placeholder {
    color:#303030
  }
  
  .header_user-api {
    display: flex;
  }
  
  
  
  .header_user-api img {
    width: 24px;
    height: 24px;
  }
  
  .header_user-api User-Avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: grey;
  }
  /* ---------------NAVBAR CSS--------------- */
  /* -------------- overlay -------------*/
  .overlay {
    display: none;
    position: fixed;
    width: calc(100% - 240px);
    height: 100%;
    background: rgba(61, 61, 63, 0.5);
    top: 0;
    left: 240px;
  }
  .overlay.visible {
    display: block;
  }
  
  @media (min-width: 900px) {
    #navBarA {
      display: block;
    }
  
    #navBarB.active {
      display: block;
    }
  }
  
  @media (max-width: 899px) {
    #navBarA.active {
      display: none;
    }
  
    #navBarC.active {
      display: block;
    }
  }
  
  /* ---------------navbar-hover--------------- */
  .Menu-Item:hover {
    background-color: #494848;
  }
  
  /* ---------------navbar-On/Off------------- */
  #navBarA.active,
  #navBarC.active {
  display: flex;
  }
  
  /* ---------------navbar------------- */
  .navBar {
    display: none;
    position: fixed;
    top: 58px;
    width: 72px;
    height: 968px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    background: #212121;
  }
  
  .navbarTop {
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
  }
  
  .Menu {
    display: flex;
    padding: 8px 8px 8px 0px;
    flex-direction: column;
    gap: 10px;
  }
  
  .Menu-Item {    
    display: block;
    width: 72px;
    align-items: center;
    gap: 24px;
    padding: 8px 8px 8px 8px;
  }
  
  .Menu-Item-img {
    width: 20px;
    height: 20px;
  }
  
  .navIcon{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-left: 24px;
  }
  
  .Title {
    display: flex;
    width: 72px;
    padding: 4px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
  
  /* ---------------expand navbar--------------- */
  .expand-navbar.display {
    display: flex;
  }
  
  .navbar.displayNone {
    display: none;
  }
  .expand-navbar {
    display: none;
    position: fixed;
    top: 75px;
    left: 0;
    width: 240px;
    height: 968px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    background: #212121;
  }
  
  .expand-navbarTop, .expand-navbarTop-2 {
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .expand-menu {
    display: flex;
    padding: 8px 8px 8px 0px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
  
  .expand-menu-item {    
    display: flex;
    width: 192px;
    align-items: center;
    gap: 24px;
  }
  
  .expand-navIcon{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-left: 24px;
  }
  
  .expand-title {
    display: flex;
    width: 144px;
    padding: 4px 0px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
  }
  
  .expand-menuItemImg {
    width: 24px;
    height: 24px;
  }
  
  .border {
    width: 224px;
    height: 1px;
    background: var(--border-color, #303030);
  }
  
  .Menu-Title{
    display: flex;
    width: 224px;
    height: 32px;
    padding-right: 0px;
    align-items: center;
  }
  
  .typo {
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
  }
  
  .typo2 {
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .NavbarMoreform {
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  
  .SUBSCRIPTIONS {
    display: flex;
    padding: 8px 24px;
    align-items: flex-start;
    gap: 10px;
  }
  
  .NavbarSubscriptions{
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  
  /* ---------------nav------------- */
  nav {
    display: flex;
    position: fixed;
    height:30px;
    margin-top: 56px;
    padding-left: auto;
  }
  
  
  
  nav .button {
  background-color:rgba(0, 0, 0, 0.2);
    width: 62vw;
    height: 32px;
    font-family: Roboto;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .buttonAll+.buttonItem, .buttonItem+.buttonItem {
  margin-left: 5px; 
  }
  
  .buttonAll {
    width: 40px;
    height: 32px;
    gap: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  
  .buttonItem {
    width: 53px;
    height: 32px;
    gap: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  
  .buttonAll, .buttonItem {
    background-color: #303030;
    color: #FFFFFF;
    padding: 10px 20px;
    border: 0;
    border-radius: 32px;
    cursor: pointer;
  }
  
  .buttonAll:hover, .buttonItem:hover {
      color: #303030;
      background-color: #FFFFFF;
  
  }
  
  .buttonAll:active, .buttonItem:active {
      color: #FFFFFF;
      background-color: #303030;
  }
  
  
  
  .flexContainer {
    display: flex;
  }
  
  .sideBarHome, .sideBarExplore,
  .sideBarSubscription, .sideBarLibrary,
  .sideBarHistory, .sideBarYourVideo,
  .sideBarWatchLater, .sideBarLikedVideos,
  .sideBarShowMore, .sideBarYoutubePremium,
  .sideBarGaming, .sideBarLive{
    display: flex;
  }
  
  #sideUser{
    display: flex;
  }
  
  .videoPlayer {
    flex: 1;
  }
  
  .videoDescFramel {
    display: flex;
  }
  
  .secondaryVideo{
    display: flex;
  }
  
  