/* ------ modify-hamguger ------ */
.hambuger-btn {
  cursor: pointer;
  background-color: #212121;
  border: none;
  background: none;
  padding: 9px 9px 9px 9px;
}

.hambuger-btn:hover {
  background: #494848;
  border-radius: 100px;
}

body {
  font-family: Roboto;
  background-color: #212121;
  color: white;
  font-size: 16px;
}

a {
  text-decoration: none;
}


/* ---------header------------- */
.header {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  height: 58px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #212121;
}

.header_hamburger_logo,
.header_search-box,
.header_user-api {
display: flex;
align-items: center;
background-color: #212121;
}

.header_hamburger_logo {
  gap:15px;
  padding-left: 9px
}

.header_logo img {
  margin-left:5px;
}

.header_logo svg {
  height: 24px;
}


.header_search-box button{
  border: 1px solid #303030;
  background-color: #212121;
  border-left: none;
  height: 36px;
  width: 50px;
}

.header_search-box #search-icon {
  width: 32px; 
  height: 32px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.header_search-box input {
  width: 240px;
  height: 32px;
  border: 1px solid #303030;
  background-color: #FFFFFF;
  font-size: 16px;
  padding: 3px 8px;
  border-radius: 50px;

}

.header_search-box input::placeholder {
  color:#303030
}

.header_user-api {
  display: flex;
}



.header_user-api img {
  width: 24px;
  height: 24px;
}

.header_user-api User-Avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: grey;
}
/* ---------------NAVBAR CSS--------------- */
.navBar::-webkit-scrollbar {
  width: 8px;
}

.navBar::-webkit-scrollbar-track {
  background: transparent; 
}

.navBar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6); 
  border-radius: 4px;
}

.navBar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1.0);
}
/* -------------- overlay -------------*/
@media (min-width: 1366px) {
  #navBarB {
    display: flex;
  }
}
@media (max-width: 540px) {
  .navBar {
    display: flex;
  }
}


/* ---------------navBar-hover--------------- */
.Menu-Item:hover {
background-color: #494848;
border-radius: 10px
}

.expand-menu-item:hover {
background-color: #494848;
border-radius: 10px
}
/* ---------------navBar-On/Off------------- */
.navBar.active {
  display: flex;
}

/* ---------------navBar------------- */
.navBar {
display: none;
position: fixed;
top: 58px;
height: 100vh;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background: #212121;
overflow-y: auto;
padding-right: 10;

}

.navBar-wide {
width: 240px;
}

.navBar-narrow {
width: 80px;
}

.navbarTop {
display: flex;
padding: 12px 4px;
flex-direction: column;
}

.Menu {
display: flex;
padding: 8px 0px 8px 0px;
flex-direction: column;
gap: 10px;
}

.Menu-Item {    
display: block;
width: 72px;
align-items: center;
gap: 24px;
padding: 8px 0px 8px 0px;
}

.Menu-Item-img {
width: 20px;
height: 20px;
}

.navIcon{
display: flex;
width: 24px;
height: 24px;
justify-content: center;
align-items: center;
flex-shrink: 0;
padding-left: 24px;
}

.Title {
display: flex;
width: 72px;
padding: 4px 0px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}

/* ---------------expand navBar--------------- */
.expand-navbarTop, .expand-navbarTop-2 {
  display: flex;
  padding: 11px 0px;
  flex-direction: column;
  align-items: flex-start;
}

.expand-menu {
display: flex;
padding: 8px 0px 8px 0px;
flex-direction: column;
align-items: flex-end;
}

.expand-menu-item {    
display: flex;
align-items: center;
gap: 24px;
padding: 8px 0px 8px 0px;
}

.expandMenuItem {
  display: block;
  align-items: center;
  gap: 24px;
  padding: 8px 8px 8px 8px;
}

.expand-navIcon{
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-left: 24px;
}

.expand-title {
  display: flex;
  width: 144px;
  padding: 4px 0px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.expand-menuItemImg {
  width: 24px;
  height: 24px;
}

.border {
  width: 224px;
  height: 1px;
  background: var(--border-color, #303030);
}

.Menu-Title{
  display: flex;
  width: 224px;
  height: 32px;
  padding-right: 0px;
  align-items: center;
}

.typo {
  color: var(--white-color, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.typo2 {
  color: var(--gray-color, #AAA);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.NavbarMoreform {
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.SUBSCRIPTIONS {
  display: flex;
  padding: 8px 24px;
  align-items: flex-start;
  gap: 10px;
}

.NavbarSubscriptions{
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}


/* -------------------navbar끝나는부분------------- */


/* ----------------main 시작 ------------- */
.main {
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
}

/* -------------section 비디오 시작-------------- */
.section {
  width: calc(100vw - 500px);
  padding-left: 80px;
  height: auto;
}


.videoInfo {
  padding: 20px 0px 20px 0px;

}

.videoInfoTitle {
  color: var(--white-color, #FFF);
  font-variant-numeric: stacked-fractions;
  font-feature-settings: 'hlig' on, 'dlig' on;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
}

.videoInfoDetails {
  display: flex;
  justify-content: space-between;
}
.videoInfoView, .videoInfoDate {
  color: var(--gray-color, #AAA);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.videoInfoIcons {
  float:right;}

#videoInfoIconsLike,#videoInfoIconslike,#videoInfoIconsShare,#videoInfoIconsSave,#videoInfoIconsMore {
  background-color: #212121;
  height: 36px;
  border-radius: 40px;
}

.videoText {
  color: var(--white-color, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 1px 0;
  justify-content: center;
}

/* 채널 프로필부분 */



.videoDesc {
  margin: 20px 0;
  display:flex;
}
.videoDec2 {
  display: flex;
}
.videoDescChannel {
  padding: 0 10px;
}
#videoDescChannelName {
  color: var(--white-color, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#videoDescChannelSubcsriber {
  color: var(--gray-color, #AAA);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#videoDescChannelSubscribeBtn {
  float:right;
  width: 116px;
  height: 36px;
  background-color: #cc0000;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  font-weight: 700;
  line-height: normal;
  margin-left: auto;
  margin-right: 65px;
}

/* 구독중 버튼 전환 임시코드 */

#videoDescChannelSubscribeBtn:hover {
  width: 116px;
  height: 36px;
  background-color: #aaaaaa;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  font-weight: 700;
  line-height: normal;
}

.videoDescChannelExplanation {
  display: flex;
  padding: 20px 0;
  width: 100%;
}

.videoComment {
  padding: 10px 0;
}

/* -------------section 비디오 끝-------------- */

/* -------------aside 비디오부분 시작-------------- */
.secondary {
  margin-left: 10px;
  float:right;
}

.secondaryVideos {
  width: 350px;
  height: auto;
}

.topMenuTags {
  padding: 8px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.topMenuTag {
  border-radius: 32px;
  background: #FFF;
}



.secondaryVideo {
  display: flex;
  color: var(--white-color, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding: 7px 0px;
  align-items: flex-start;
}

.secondaryVideoDetails {
padding: 5px 8px;
align-items: center;
}


.secondaryVideoInfo {
  color: var(--gray-color, #AAA);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; 
}
/* -------------aside 비디오부분 끝 -------------- */



/* 반응현웹 */

@media ONLY screen and (max-width: 1280PX){

  
  .secondary {
    display: none;
  }
  
}