/* ------ modify-hamburger ------ */
.hamburger-btn {
  cursor: pointer;
  background-color: #212121;
  border: none;
  background: none;
  padding: 9px 9px 9px 9px;
}

.hamburger-btn:hover {
  background: #494848;
  border-radius: 100px;
}

body {
  font-family: Roboto;
  background-color: #212121;
  color: white;
  font-size: 16px;
}


/* ---------header------------- */
.header {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  height: 58px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #212121;
  z-index: 2;
}

.header_hamburger_logo,
.header_search-box {
  display: flex;
  align-items: center;
  background-color: #212121;
}

.mic {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-color: #282828;
  border-radius: 60px;
  padding: 6px;
  cursor: pointer;
}

.mic:hover {
  background-color: #3d3d3d;
}

.header_user-api {
  width: 190px;
  height: 40px;
  padding: 9px 0px 9px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #212121;
}

.header_hamburger_logo {
  gap: 15px;
  padding-left: 9px;
}

.header_logo img {
  margin-left: 5px;
}

.header_logo svg {
  height: 24px;
}

.header_search-box button {
  border: 1px solid #303030;
  background-color: #282828;
  border-left: none;
  height: 40px;
  width: 60px;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
}

.header_search-box #search-icon {
  width: 32px;
  height: 32px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.header_search-box input {
  width: 240px;
  height: 32px;
  border: 1px solid #303030;
  background-color: #212121;
  font-size: 16px;
  padding: 3px 8px;
  border-radius: 50px 0px 0px 50px;
}

.header_search-box input:focus {
  outline: none;
  border-color: #19529a;
  color: #fff;
}

.header_search-box input::placeholder {
  color: #888888;
}

.header_user-api {
  display: flex;
}

.header_user-api img {
  width: 24px;
  height: 24px;
}

.header_user-api #User-Avatar {
  width: 80px;
  height: 32px;
}
/* ---------------NAVBAR CSS--------------- */
.navBar::-webkit-scrollbar {
  width: 8px;
}

.navBar::-webkit-scrollbar-track {
  background: transparent;
}

.navBar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.navBar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);
}
/* -------------- overlay -------------*/
/* @media (min-width: 900px) {
  #navBarA {
    display: flex;
  }

  #navBarB.active {
    display: flex;
  }
}

@media (max-width: 899px) {
  #navBarA.active {
    display: none;
  }

  #navBarB.active {
    display: none;
  }
} */

/* ---------------navBar-hover--------------- */
.Menu-Item:hover {
  background-color: #494848;
  border-radius: 10px;
}

.expand-menu-item:hover {
  background-color: #494848;
  border-radius: 10px;
}
/* ---------------navBar-On/Off------------- */
.navBar.active {
  display: flex;
}

/* ---------------navBar------------- */
.navBar {
  display: none;
  position: fixed;
  top: 58px;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #212121;
  overflow-y: auto;
  padding-right: 10;
}

.navBar-wide {
  width: 240px;
}

.navBar-narrow {
  width: 80px;
}

.navbarTop {
  display: flex;
  padding: 12px 4px;
  flex-direction: column;
}

.Menu {
  display: flex;
  padding: 8px 0px 8px 0px;
  flex-direction: column;
  gap: 10px;
}

.Menu-Item {
  display: block;
  width: 72px;
  align-items: center;
  gap: 24px;
  padding: 8px 0px 8px 0px;
}

.Menu-Item-img {
  width: 20px;
  height: 20px;
}

.navIcon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-left: 24px;
}

.Title {
  display: flex;
  width: 72px;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

/* ---------------expand navBar--------------- */
.expand-navbarTop,
.expand-navbarTop-2 {
  display: flex;
  padding: 11px 0px;
  flex-direction: column;
  align-items: flex-start;
}

.expand-menu {
  display: flex;
  padding: 8px 0px 8px 0px;
  flex-direction: column;
  align-items: flex-end;
}

.expand-menu-item {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 8px 0px 8px 0px;
}

.expandMenuItem {
  display: block;
  align-items: center;
  gap: 24px;
  padding: 8px 8px 8px 8px;
}

.expand-navIcon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-left: 24px;
}

.expand-title {
  display: flex;
  width: 144px;
  padding: 4px 0px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.expand-menuItemImg {
  width: 24px;
  height: 24px;
}

.border {
  width: 224px;
  height: 1px;
  background: var(--border-color, #303030);
}

.Menu-Title {
  display: flex;
  width: 224px;
  height: 32px;
  padding-right: 0px;
  align-items: center;
}

.typo {
  color: var(--white-color, #fff);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.typo2 {
  color: var(--gray-color, #aaa);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.NavbarMoreform {
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.SUBSCRIPTIONS {
  display: flex;
  padding: 8px 24px;
  align-items: flex-start;
  gap: 10px;
}

.NavbarSubscriptions {
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

/* -------------------navbar끝나는부분------------- */

/* ----------------main 시작 ------------- */
.main {
  /* padding-top: 56px; */
  /* display: flex;
  justify-content: space-between; */

  margin-top: 80px;
  justify-content: center;
  display: flex;
  color: #fff;
}

/* -------------section 비디오 시작-------------- */
/* 비디오 플레이어 시작 */
.section {
  width: auto;
  padding-left: 80px;
  /* height: auto; */ 
  /* width: 50%; */
  color: #fff;
  min-width: 320px;

}

#videoPlayer{
  position: relative;
  width: 100%;
  background-color: #aaa;
  overflow: hidden;

}

#videoPlayer video{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
/* 비디오 플레이어 끝 */
.videoInfo {
  padding: 20px 0 8px 0;

}


.videoInfoTitle {
  color: var(--white-color, #fff);
  font-variant-numeric: stacked-fractions;
  font-feature-settings: "hlig" on, "dlig" on;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
}

.videoInfoDetails {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4b4b4b;
  flex-wrap: wrap;
}

.videoInfoViewDate {
  display: flex;
  padding: 12px 0px;
  font-size: 14px;
  color: #aaa
}

.videoInfoIcons {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
}

#videoInfoIconsLike,
#videoInfoIconslike,
#videoInfoIconsShare,
#videoInfoIconsSave,
#videoInfoIconsMore {
  background-color: #212121;
  height: 36px;
  border-radius: 40px;
}

.videoText {
  color: var(--white-color, #fff);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 1px 0;
  justify-content: center;
}

/* 채널 프로필부분 */

.videoDesc {
  margin: 20px 0;
  display: flex;
  align-items: center;

}


/* CHANNEL INFO */
.channel__info{
  padding: 16px 0;
  border-bottom: 1px solid #4b4b4b;
}

.channel__info__upside{
  display: flex;
  justify-content: space-between;
}

.channel__info__box{
  align-items: center;
}


.channel__profile{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.channel__profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.channel__info__text p{
  color: #aaa;
  font-size: 13px;
}

#videoDescChannelSubcsriber {
  color: var(--gray-color, #aaa);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#videoDescChannelSubscribeBtn {
  
  width: 116px;
  height: 36px;
  background-color: #cc0000;
  color: #ffffff;
  border: 0;
  border-radius: 2px;

}

/* 구독중 버튼 전환 임시코드 */

#videoDescChannelSubscribeBtn:hover {
  background-color: #aaaaaa;
}

.videoDescChannelExplanation {
  display: flex;
  padding: 20px 0;
  width: 100%;
}

.videoComment {
  padding: 10px 0;
}

/* -------------section 비디오 끝-------------- */

/* -------------aside 비디오부분 시작-------------- */
.secondary {
  padding-left: 20px;
}


.topMenuTags {
  padding: 8px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.topMenuTag {
  border-radius: 32px;
  background: #fff;
}
.topMenuTags button{
  padding: 8px 12px;
  border-radius: 32px;
  border: 0.3px solid #aaa;
  color: #fff;
  background-color: #303030;
  font-size: 14px;
  margin: 0 4px 18px 0;
}


.secondaryVideos{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.secondaryVideolist{
  display: flex;
  gap: 8px;
}

.secondaryVideo {
  width: 300px;
  background-color: #4b4b4b;
}
.secondaryVideo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secondaryVideoDetails{ 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
  width: 50%;
}

.secondaryVideoDetails h4{
  font-size: 16px;
  word-break:break-all
}

.secondaryVideoDetails p{
  color: #aaa;
  font-size: 13px;
}



/* -------------aside 비디오부분 끝 -------------- */

@media ONLY screen and (max-width: 1366px) {
  .secondary {
    float: none;
    padding-left: 80px;
  }
  .section {
    display: block;
    float: none;
  }
  .main {
    display: block;
  }
}

@media ONLY screen and (max-width: 600px) {
  .secondary {
    padding-left: 20px;
  }
}
